
body {
    background-color: rgb(240, 240, 240);
    background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
    background-position: center top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    
    -webkit-background-size: 100vw 100vh;
    -moz-background-size: 100vw 100vh;
    -o-background-size: 100vw 100vh;
    background-size: 100vw 100vh;

    font-family: 'Lato', sans-serif;
}


#mainNavbar { 
    background-color:rgba(0, 0, 0, 0.9);
}


h1 {
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 3rem;
}

h2 {
    margin: 1rem;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.portfolio-entry {
    margin: 1em 0em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) ,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
}

.card.transparent {
    background-color: rgba(0, 0, 0, 0.6);
}

.container.container-form {
    margin: 20px auto;
    max-width: 800px;
}

.container.container-login {
    margin: 20px auto;
    max-width: 500px;
}

.entry-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.overlay-text {
    color: white;
}



#web-container {
    margin:auto;
    text-align: center;
}

.web-list {

    columns: 4;
    -webkit-columns: 4;
    -moz-columns: 4;
    text-align: left;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;

}



hr {
    margin: 0em;
    border: 0;
    height: 2px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}


@media (min-width: 800px) {
    #web-info {
        max-width: 800px;
    }
}


@media (max-width: 600px) {

    .portfolio-entry {
        margin: 1em 0em;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) ,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4));
    }
    .web-list {

        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        text-align: left;
    }
}
  